@page "/"

<h1>Salary Tracker</h1>
@*Card section for displaying hours logged, displayed in weeks*@
<section>
    <div>

    </div>
</section>
@*Card section displaying hours worked this week or month and money earnt*@
@*Include button to sign out*@
<section>
    <div>

    </div>
</section>


