@page "/"
@using Data.Models

<h1 class="main-headings">Salary Tracker</h1>
<body>
@*Card section for displaying hours logged, displayed in weeks*@
<section class="main-background">
    <div>
          <h2>Current Earnings: @*@data.CurrentEarnings*@ £1,492.00</h2>
          <p>MoM: £50<span class="@(isUp ? "arrow-up" : "arrow-down")">@(isUp ? "▲" : "▼")</span> </p>
    </div>
</section>
@*Card section displaying input for shift start and end with submit button to log the day*@
<section class="main-background">
    <div>
        <div class="row-display">
        <label class="secondary-headings">Shift Start
            <input type="time" @bind="shiftStart" />
        </label>
        <label class="secondary-headings">Shift End
            <input type="time" @bind="shiftEnd" />
        </label>
        </div>
        <button class="btn-main" @onclick="AddHours">Submit</button>

    </div>
</section>
</body>

@code {
    public TrackingData data = new TrackingData();
    private TimeOnly shiftStart = new TimeOnly(9, 0);
    private TimeOnly shiftEnd = TimeOnly.FromDateTime(DateTime.Now);
    private bool isUp = true; // wire this to your real comparison later
    

    // gets the double values from the dictionary with .Values and adds them together with .Sum()
    public void TotalCurrentEarnings()
    {
        data.CurrentEarnings = data.HoursLogged.Values.Sum() * data.HourlyWage;
    }

    // Method for adding in hours to the dictionary for each day
    // Needs to be linked to calendar input, so need calendar setup first
    public void AddHours()
    {
        double hours = (shiftEnd - shiftStart).TotalHours;

        data.HoursLogged.Add(DateOnly.FromDateTime(DateTime.Today), hours);
        TotalCurrentEarnings();
        StateHasChanged(); 
    }

}


