@page "/settings"
@using Data.Models

<body>
    <section>
        <div>

        </div>
    </section>
</body>

@code {
    public TrackingData settingsData = new TrackingData();

    public void TaxCalculation()
    {
        
    }

    public void SetHourlyWage()
    {
        
    }
}
